<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<h1>
  Rails 6 Minimal Devise Template
</h1>

<h2>
  -Bootstrap v5 + TaiwindCSS CDNs
  <br>
  -Letter Opener for Mailer Testing
</h2>
